.dashCardTitle {
    margin: 0px 10px 10px 10px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 10px;
}

.dashCardBtns {
    justify-content: center;
    align-items: center;
}

.dashCardBtn {
    border: 0px;
    border-radius: 15px;
    padding: 5px 10px;
    background-color: #ffffff;
    color: #007185;
    margin-right: 5px;
}

.dashCardBtn:hover {
    background-color: #00687a;
    color: #ffffff;

    transition: background-color 0.2s ease, color 0.2s ease;
}

.dashCardTable {
    font-size: 12px;
    color: #ffffff;
    background-color: #008fa8;
    border: none;
}